.header_container {
  display: block;
  height: 300px;
}

.main_container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
}

.left_container,.center_container,.right_container{
	float: left;
	/* background-color: #eee; */
  margin-top: .5em;
	margin-bottom: 1em;
	margin-left: 2%;
}
.left_container{
  width: 20%;
}

.center_container{
  width: 51%;
}

.right_container{
  width: 20%;
}

.footer_container {
  /* display: inline-block; */
  clear: both;
  display: block;
  margin: 0;
  background-color: #696969;
}

th {
    text-align: center;
}

.sfu_image{
  width:63%;
}
.ieee_image{
  width:70%;
}
.youtube_image{
  width: 90%;
}

/* @media (max-width: 768px) {
  .left_container {
    background-color: black;
  }
} */
