.header_container {
  display: block;
  height: 300px;
}

.main_container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1080px;
}

.left_container,.center_container,.right_container{
	float: left;
	/* background-color: #eee; */
  margin-top: .5em;
	margin-bottom: 1em;
	margin-left: 2%;
}
.left_container{
  width: 20%;
}

.center_container{
  width: 51%;
  /* margin: '0 auto';
  maxWidth: 960;
  padding: '0px 1.0875rem 1.45rem';
  paddingTop: 0; */
}

.right_container{
  width: 20%;
}

.footer_container {
  /* display: inline-block; */
  clear: both;
  display: block;
  margin: 0;
  background-color: #696969;
}

/* @media (max-width: 768px) {
  .left_container {
    background-color: black;
  }
} */
