.listlink {
  display: block;
  align-items: right;
}



.link {
  text-decoration: none;
}

/*---------navlist--------*/
.navlist, .search{
  display: block;
  list-style: none;
  margin: 0;
  width: 100%;
  margin-bottom: 1rem
  /* float: right; */
}

.navlist li{
  border-bottom: 1px solid #A9A9A9;
}

.navlist li a{
  color: #818181;
}

.navlist li a:hover{
  color: black;
}

.dates {
  align-items: center;
}

/*---------footerlist--------*/
.footerlist {
  display: inline;
}

.footerlist li, h5{
  margin: 0;
  /* border-bottom: 1px solid #A9A9A9; */
}

.footerlist li a{
  color: #818181;
}

.footerlist li a:hover{
  color: #818181;
}

/* .dates .addeventatc {
  color: red;
  background-color: red;
} */

.image_container {
  background-image: url("../images/vancouver1.jpg");
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  max-width: 2000px; /* Maximum width */
  margin: 0 auto; /* Center it
  /* height: 100%; */
}

.image_content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */

}

.title_text_container, .footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: .5rem; /* Some padding */
  padding-bottom: 1rem;
  padding-left: 2%; /* Some padding */
  padding-right: 2%;
  max-width: 1080px;
  /* padding: 10px; /* Some padding */
}

.title_text {
  margin: 0;
  color: white;
  text-decoration: none;
}


.box {
  border-bottom: 1px solid #A9A9A9;
  /* border-style: solid;
  border-width: 1px;
  border-color: #A9A9A9;
  border-radius: 5px; */
  text-align: center;
}

.box h4 {
  margin: 0;
  padding-bottom: 1rem;
}

/*---------speaker--------*/
.speaker_header {
  display: flex;
  align-items: center;
  /* margin: 0 auto 12px auto; */
  margin: 0;
  padding-bottom: .5rem;
}

.avatar {
  flex: 0 0 100px;
  width: 100px;
  height: 100px;
  margin: 0;
}

.speaker_header_desc {
  /* margin: 0 0 12px 0; */
  margin: 0;
  padding: 0;

}

.speaker_name, .speaker_title {
  /* margin: 0 0 12px 0; */
  margin: 0;
  padding: .5rem;
}

.speaker_body {
  /* flex: 1; */
  margin-left: 0;
  padding: 0;
}

.speaker_desc {
  /* flex: 1; */
  text-align: justify;
  text-justify: inter-word;
}

/*---------map--------*/
.map {
  height: 300px;
  width: 100%;
}

.content_image {
  margin: 0;
}

.warning {
  text-align: center;
  background-color: #FFA07A;
  color: #8B0000;
}
/*---------registration table--------*/
.cell {
  text-align: center;
}
td {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
/*---------technical program--------*/
.nomarginb {
  margin-bottom: 0;
}
.schedule_headrow p{
  margin: 0;
}
