.listlink {
  display: block;
  align-items: right;
}



.link {
  text-decoration: none;
}

/*---------navlist--------*/
.navlist, .search{
  display: block;
  list-style: none;
  margin: 0;
  width: 100%;
  margin-bottom: .5rem
  /* float: right; */
}

.navlist li{
  border-bottom: 1px solid #A9A9A9;
}

.navlist li a{
  color: #818181;
}

.navlist li a:hover{
  color: black;
}

.dates {
  align-items: center;
}

/*---------footerlist--------*/
.footerlist {
  display: inline;
}

.footerlist li, h5{
  margin: 0;
  /* border-bottom: 1px solid #A9A9A9; */
}

.footerlist li a{
  color: #818181;
}

.footerlist li a:hover{
  color: #818181;
}

/* .dates .addeventatc {
  color: red;
  background-color: red;
} */

.image_container {
  background-image: url("../images/vancouver1.jpg");
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  max-width: 2000px; /* Maximum width */
  margin: 0 auto; /* Center it
  /* height: 100%; */
}

.image_content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */

}

.title_text_container, .footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: .5rem; /* Some padding */
  padding-bottom: 1rem;
  padding-left: 2%; /* Some padding */
  padding-right: 2%;
  max-width: 960px;
  /* padding: 10px; /* Some padding */
}

.title_text {
  margin: 0;
  color: white;
  text-decoration: none;
}


.box {
  border-bottom: 1px solid #A9A9A9;
  /* border-style: solid;
  border-width: 1px;
  border-color: #A9A9A9;
  border-radius: 5px; */
  text-align: center;
}

.box h4 {
  margin: 0;
  padding-bottom: 1rem;
}

/* .addeventatc {
  border-bottom: 10px solid #A9A9A9;
} */
/* .footer {

} */




/* .user:last-child {
  margin-bottom: 0;
}

.avatar {
  flex: 0 0 96px;
  width: 96px;
  height: 96px;
  margin: 0;
}

.description {
  flex: 1;
  margin-left: 18px;
  padding: 12px;
}

.username {
  margin: 0 0 12px 0;
  padding: 0;
}

.excerpt {
  margin: 0;
} */
