td {
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* .cell {
  text-align: center;
} */

.time {
  line-height: 0.9;
}

th:last-child, td:last-child {
    padding-right: 1rem;
}
